/* Background color:  E3E9F2*/
/* Font color:  121130*/
html {
  scroll-behavior: smooth;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #E3E9F2;
}

body::-webkit-scrollbar-thumb {
  background-color: #121130;
  border-radius: 20px;
  border: 3px solid #E3E9F2;
}

body a {
  color: #121130;
  text-decoration: none;
}

/* Header section */
header {
  /* position: sticky;
  position: -webkit-sticky; */
  width: 90%;
  margin: 0 auto;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
header h1 {
  float: left;
  font-size: 40px;
  margin-left: 30px;
}
nav {
  float: right;
  margin-right: 30px;
  margin-top: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  /* text-transform: uppercase; */
  font-size: 20px;
}
nav a::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #1f2a59;

  position: absolute;
  bottom: 10px;
  width: 0%;

  transition: all ease-in-out 200ms;
}
nav a:hover::before {
  width: 100%;
}
nav #current::before {
  width: 100%;
}

/* Scroll Progress Bar */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.progress-container {
  width: 100%;
  background-color: transparent;
  height: 0.5vh;
  display: block;
}
.progress-bar {
  background-color: #121130;
  width: 0%;
  display: block;
  height: inherit;
}

/* Body container sections */
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #E3E9F2;
  color: #121130;
  margin: 0 auto;
  /* Height of page */
  height: 350vh;
  /* border-left: 5px solid black;
  border-right: 5px solid black; */
}

/* Main content section */
.main_container {
  margin: 0 auto;
  width: 90%;
  height: 95%;
  /* border: 3px solid black; */
}

/* Intro Section */
.intro_container {
  display: flex;
  justify-content: center;
  height: 7%;
  width: 100%;
}
.intro_text {
  width: 90%;
  height: 100%;
  font-size: calc(13px + 0.3vw);
}

/* Project Section */
.project_container {
  height: 80%;
  width: 100%;
  padding-bottom: 2vh;
  margin-bottom: 3vh;
  /* background-color: #f0f2f5; */
  /* border: 1px solid blue; */
  border-bottom: 2px solid black;

}
.project_container_header {
  height:2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  font-size: calc(25px + 1vw);
  margin-bottom:3vh;
  /* border: 1px solid black; */
}
.divider {
  border: 0.1vh solid black;
  width: 85%;
}
.project_card {
  display: flex;
  justify-content: center;
  margin: auto;
  height: calc(100% / 6);
  width: 80%;
  padding: 20px 70px;
  /* background-color: #f0f2f5; */
  margin-bottom: 10px;
  /* border: 1px solid red; */
  transition: box-shadow ease-out 200ms, transform ease-in-out 100ms,
    background-color ease-in-out 400ms;
  cursor:pointer;
}
.project_card:hover {
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  background-color: #f0f2f5;
  transform: scale(1.01);
}
/* .project_card:nth-child(2n) {
  float: right;
  margin-right: 100px;
}
.project_card:nth-child(2n + 1) {
  float: left;
  margin-left: 100px;
} */
.project_desc {
  margin: auto;
  height: 80%;
  width: 50%;
  /* border: 1px solid red; */
}
#project1_desc {
  margin-bottom: 20px;
}
.project_desc_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 15%;
  width: 100%;
}
.project_desc_title h1 {
  margin-left: 1vw;
  font-size: calc(15px + 1vw);
  text-align: center;

}
#project4_h1 {
  font-size: calc(12px + 0.9vw);
}
.project_desc_text {
  height: 90%;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  /* border: 1px solid red; */
}
.project_desc_text::-webkit-scrollbar {
  width: 8px;
}

.project_desc_text::-webkit-scrollbar-track {
  background: #d5dbe3;
}

.project_desc_text::-webkit-scrollbar-thumb {
  background-color: #121130;
  border-radius: 20px;
  border: 3px solid #E3E9F2;
}
.project_desc_text p {
  margin: 10px auto;
  font-size: calc(12px + 0.5vw);
}
#project5_desc_text em {
  font-size: calc(12px + 0.3vw);
}
#project4_desc_text em {
  font-size: calc(12px + 0.3vw);
}
.project_pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  /* border: 1px solid blue; */
}
#project1_pic {
  width: 35vw;
  height: 20vw;
}

#project2_pic {
  padding: 6px;
  background-color: black;
  width: 30vw;
  height: 15vw;
}
#project3_pic {
  width: 25vw;
  min-width: 250px;
  min-height: 170px;
  height: 18vw;
}
#project4_pic {
  width: 30vw;
  height: 17vw;
}

#project5_pic {
  width: 27vw;
  height: 18vw;
}

/* Contact Section */
.contact_container {
  height: 10%;
  width: 100%;
  text-align: center;
  font-size: calc(12px + 0.5vw);
}

.contact_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 90%;
  margin: auto;
  /* border: 1px solid black; */
}

.contact_icon {
  width: 8vw;
  height: 8vw;
  min-width: 80px;
  min-height: 80px;
  margin: calc(20px + 1.5vw);
}

.contact_icon a img {
  width: calc(40px + 5vw);
  height: calc(40px + 5vw);
}

#github_icon {
  width: calc(70px + 5vw);
  height: calc(70px + 5vw);
  transform: translate(0, -5px);
}

#nuworks_icon_container, #linkedin_icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
}